.parentContainer {
  width: 100%;
  height: 100vh;
  background-color: #f0f6ed;
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
}

.mainContainer {
  width: 100%;
  height: 100%;
  position: relative;
}

.deleteModal {
  height: 100%;
  width: 100%;
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);
  z-index: 1000000;
}

.navBar {
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem;
}

.imgSpecs {
  height: 4rem;
}

.notiWrapper {
  padding-inline: 1rem;
  padding-block: 0.5rem;
  background-color: lightgrey;
  border-radius: 1rem;
}

.dashboardContainer {
  width: 100%;
}

.statusIcon {
  position: relative;
}

.statusListOptions {
  position: absolute;
  background-color: #f0f6ed;
  z-index: 999999;
}

.activeStatusColor {
  color: red;
}

.statusOption {
  padding-block: 0.5rem;
  padding-inline: 1rem;
  text-align: center;
}

.statusOption:hover {
  background-color: white;
}

.topHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.orderBtn {
  background-color: #4d8731;
  color: white;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

.details {
  display: flex;
  flex-direction: column;
}

.headingText {
  font-size: 24px;
}

.subHeadingText {
  font-size: 8px;
}

.itemContainers {
  display: flex;
  width: 100%;
  padding: 1rem;
  gap: 1rem;
  justify-content: space-around;
  background-color: white;
  border-radius: 1rem;
}

.detailDiv {
  width: 33%;
  display: flex;
  gap: 2rem;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  border-right: 2px gray solid;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.detailDiv:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.iconSize {
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ecf3ea;
  border-radius: 50%;
}

.dashContDetails {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.dashHeading {
  font:
    600 1.4rem / 1.5 Manrope,
    sans-serif;
}

.dashSubHeading {
  font-size: 1.3rem;
}

.detailContainer {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  background-color: white;
}

.detailOps {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.searchBoxWidth {
  padding: 1rem;
  width: 20rem;
  font-size: large;
  border-radius: 1rem;
  color: gray;
  background-color: #f0f6ed;
}

.searchInputDiv {
  display: flex;
  border: 1px solid black;
  padding: 1rem;
  background-color: #f0f6ed;
  border-radius: 1rem;
  gap: 0.5rem;
}

.searchInput {
  outline: none;
  border: none;
  background-color: #f0f6ed;
}

.searchIcon {
  padding: 1rem;
  background-color: #f0f6ed;
  border-radius: 1rem;
}

.hr {
  width: 100%;
  opacity: 0.2;
}

.dateTime {
  display: flex;
  flex-direction: column;
}

.tableContents table {
  width: 100%;
}

.loaderComp {
  height: calc(100% - 90px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.tableContents {
  overflow-y: auto;
  height: calc(100% - 90px);
}

.tableContentsOverHid {
  overflow: hidden;
}
.tableContents table > thead > tr > th {
  text-align: left;
  padding-inline: 1rem;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #f0f6ed;
  z-index: 1;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.headerOps {
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
  padding-block: 1rem;
}

.headerDataOps {
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
  padding-block: 2rem;
}

.dateTime {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.tableRow {
  overflow-y: auto;
}

.tableRow td {
  padding-block: 0.5rem;
}

table > tbody > tr > td {
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
  padding-inline: 1rem;
}

.detailContainer {
  height: calc(100% - 320px);
}

.detailOps {
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 1000;
}

tbody > tr {
  position: relative;
}

.actionBtns {
  padding-inline: 1rem;
  padding-block: 0.5rem;
}

.actionBtns:hover {
  color: green;
}

.dropDownIcon {
  position: absolute;
  top: 30px;
  right: 145px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  background-color: #f0f6ed;
  font-size: large;
}

.actnBtn {
  border: none;
  background: inherit;
  cursor: pointer;
}

.mainContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.popUpContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 96%;
  z-index: 9999;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  z-index: 9998;
}

.paginationOps {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
  flex: 1;
  padding-inline: 2rem;
  padding-block: 1rem;
}

.paginationOptions {
  outline: none;
  border: none;
}

.rightArrowBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightArrowBtn:hover {
  background-color: #f0f6ed;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
}

.clickBtns {
  outline: none;
  border: none;
}
