.serviceSubContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  background-color: var(--bg-color);
  padding-block: 5rem;
  justify-content: center;
  border-radius: 1rem;
}

.Heading{
  font-size: var(--heading-font-size);
}

.serviceBar {
  width: 10rem;
  height: 0.3rem;
  background-color: var(--bg-color);
}

.servicesContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
}

.serviceHeader {
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.imageContainer img {
  width: 20rem;
}

.serviceCard {
  background-color: white;
  width: 20rem;
  margin: 0 auto;
  border-radius: 1rem solid white;
  border-radius: 1rem;
}

.details {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  text-align: center;
}

.heading {
  font-weight: bolder;
}

.subHeading {
  color: var(--sub-bg-color);
}

@media (max-width: 1200px) {
  .serviceSubContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .serviceSubContainer {
    grid-template-columns: repeat(1, 1fr);
    padding: 2rem;
  }
  .serviceCard {
    width: 15rem;
  }
  .imageContainer img {
    object-fit: cover;
    width: 15rem;
  }
  .servicesContainer {
    padding: 1rem;
  }
}
