.alertContainer {
  position: fixed;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  z-index: 10000;
  animation: slideInFromTop 0.4s ease-out;
  width: fit-content;
  /* max-width: 90%; */
}

.normalText {
  background: lightgreen;
  color: green;
}

.errorText {
  background: #ffd6d6;
  color: red;
}

@keyframes slideInFromTop {
  from {
    transform: translate(-50%, -100px);
    opacity: 0;
  }
  to {
    transform: translate(-50%, 0px);
    opacity: 1;
  }
}
