.laundryProcess {
  background-color: black;
  border-radius: 2rem;
  padding: 5rem;;
}

.serviceDetails{
  padding: 5rem;
}

.chooseOurService{
  padding: 5rem;
}

.serviceExcel {
  background-color: black;
  color: white;
  padding: 5rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.bar {
  background-color: var(--bg-color);
  width: 15rem;
  padding: 0.1rem;
  border-radius: 1rem;
  align-self: center;
}

.serviceDetailWrapper {
  padding: 2rem;
  display: flex;
  border-radius: 1rem;
  flex-direction: column;
  gap: 1rem;
  min-width: 15rem;
  max-height: 10rem;
  color: var(--bg-color);
  align-items: center;
  background-color: white;
}

.heading {
  font-size: xx-large;
  font-weight: bolder;
}

.detail {
  color: gray;
  text-align: center;
  font-size: small;
}

.serviceHeader {
  text-align: center;
  font-weight: bold;
  font-size: var(--heading-font-size);
}

.serviceWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 2rem;
}

/* serviceCategories */
.serviceCategories {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  background-color: #f8fafc;
}

.serviceCategoryWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.categoryHeading {
  font-size: larger;
  text-align: center;
}

.categoryWrapper {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    border-radius: 1rem;
    border-bottom: var(--bg-color) solid 5px;
    min-width: 15rem
}

.detailCheck{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.categoryService{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media(max-width : 768px){
  .serviceWrapper{
    flex-direction: column;
  }
  .serviceCategoryWrapper{
    flex-direction: column;
    gap: 2rem;
  }

}