@import "../../common-components/common.module.css";

.processSection {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  width: 100%;
  align-items: center;
  background-color: inherit;
}

.includeBorderRadius {
  border-radius: 2rem;
}

.featureHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.goalHeader {
  font-size: var(--heading-font-size);
}

.bar {
  background-color: var(--bg-color);
  width: 15rem;
  padding: 0.1rem;
  border-radius: 1rem;
}

.processHeader {
  font-size: var(--heading-font-size);
  font-weight: bold;
}

.processDetailWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.processWrapper {
  max-width: 15rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  padding: 1.3rem;
  border: #e2e8f0 solid 1px;
  border-radius: 1rem;
  transition:
    box-shadow 0.4s ease-in-out,
    transform 0.4s ease;
}

.processWrapper:hover {
  transform: translateY(-8px);
  box-shadow: 2px 12px 50px var(--bg-color);
}

.processIcon {
  height: 5rem;
  width: 5rem;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.processHeading {
  font-size: 1.5rem;
  /* font-weight: bold; */
}

.borderBottom {
  border-radius: 1rem;
  border-bottom: var(--bg-color) solid 5px;
}

.borderTop {
  border-radius: 1rem;
  border-top: var(--bg-color) solid 5px;
}

.linkDetails {
  padding: 1rem;
  background-color: var(--bg-color);
  color: white;
  border-radius: 1rem;
  cursor: pointer;
}

.reachUsContainer {
  padding: 2rem;
}

@media (max-width: 768px) {
  .processHeader {
    font-size: 2rem;
    text-align: center;
  }
  .processDetailWrapper {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}
