.mainHeader {
  padding: 1rem;
  width: 20rem;
  height: fit-content;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  border-radius: 1rem;
}

.header {
  font-weight: bold;
}

.inputBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.editOps {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.cancel {
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  border-radius: 0.3rem;
}

.add {
  padding: 0.5rem;
  background-color: #498b36;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 0.3rem;
}

.inputClass {
  padding: 0.3rem;
}

.disabled {
  background-color: gray;
  color: black;
}
