@import "../common-components/common.module.css";

.hero {
  position: relative;
  height: calc(100vh - 84px);
  overflow: hidden;
}

.heroContent h1,
p {
  animation: slide-in 0.8s ease-in;
}

.heroImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 0;
}

.heroContent {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.35);
}

.heroContent h1 {
  font-size: 5rem;
  margin-bottom: 0.5rem;
}

.heroContent p {
  font-size: 2rem;
}

.introductionSection {
  background-color: #dce3ec;
  display: flex;
  padding-inline: 5rem;
  justify-content: center;
  padding-block: 5rem;
  align-items: center;
  gap: 3rem;
}

.imageProp {
  height: 20rem;
  width: auto;
  border-radius: 1rem;
}

.infoSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.brand {
  color: green;
  text-decoration: underline;
  font-style: normal;
}

.introHeader {
  font-size: var(--heading-font-size);
  font-style: italic;
}

.subIntro {
  font-size: 2rem;
}

.introDetail {
  width: 35rem;
  text-wrap: wrap;
}

.serviceSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: linear-gradient(to bottom, #f4f7fa, #e9eef4);
  padding-block: 5rem;
  align-items: center;
}

.headerText {
  font-size: var(--heading-font-size);
  font-weight: bold;
  text-align: center;
}

.bar {
  background-color: var(--bg-color);
  width: 15rem;
  padding: 0.1rem;
  border-radius: 1rem;
}

.paraTag {
  color: var(--sub-bg-color);
  font-size: larger;
}

.InfoGraphicContainer {
  display: flex;
  width: 100%;
  gap: 2rem;
  padding-inline: 5rem;
  align-items: center;
}

.imgBackground {
  height: 25rem;
  border-radius: 1rem;
  width: auto;
  flex: 1;
  border: solid 2px lightblue;
  transition:
    box-shadow 0.4s ease-in,
    transform 0.4s ease-in;
}

.imgBackground:hover {
  transform: translateY(-8px);
  box-shadow: 0 5px 50px var(--bg-color);
}

.detailBox {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 1rem;
  background-color: white;
  padding: 1rem;
  transition:
    box-shadow 0.4s ease-in,
    transform 0.4s ease-in;
}

.detailBox:hover {
  transform: translateY(-8px);
  box-shadow: 0 5px 50px var(--bg-color);
}

.detailsContainer {
  display: grid;
  flex: 1;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.detailIcon {
  background-color: #488b36;
  height: fit-content;
  width: fit-content;
  padding: 0.2rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.servicesSection{
  width: 100%;
  padding-inline: 5rem;
  padding-top: 5rem;
}

.statsSection {
  padding: 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  background-color: #f8fafc;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  border-bottom: var(--bg-color) solid 10px;
}

.statDetailWrapper {
  display: flex;
  padding: 1rem;
  min-width: 16rem;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 1rem;
  border-top: #337dcb 5px solid;
}

.detailHeading {
  font-weight: bold;
}

.heading {
  font-size: 2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
}

.processSection {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  background-color: #fcfcfd;
}

.processDetailWrapper {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.processHeader {
  font-size: 3rem;
}

.processIcon {
  height: 5rem;
  width: 5rem;
  background-color: #337dcb;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.processWrapper {
  max-width: 12rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  padding: 1rem;
  border: #e2e8f0 solid 1px;
  border-radius: 1rem;
  border-bottom: #337dcb solid 5px;
}

.processHeading {
  font-size: 2rem;
}

.mottoSection {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mottoSection::before {
  position: absolute;
  inset: 0;
  background: url("../../assets/images/homepage/MottoBackground.jpg");
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: blur(8px);
  transform: scale(1.5);
  z-index: -1;
}

.mottoContainer {
  width: 100%;
  display: flex;
  z-index: 2;
  justify-content: space-between;
  gap: 3rem;
  padding: 5rem;
  margin: 0 auto;
}

.Icon {
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #46525c;
}
.paraContainer {
  font-size: 4rem;
}

.textContainer {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 30rem;
  width: 100%;
}

.highLight {
  color: var(--bg-color);
}

.rightContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.divContainer {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.mottoWrapper {
  display: flex;
  width: 100%;
  background-color: #46525c;
  color: white;
  padding: 1rem;
  gap: 1rem;
  border-radius: 1rem;
}

.mottoImageWrapper {
  background-color: #04143f;
  border-radius: 1rem;
  display: flex;
  height: 20rem;
  width: 20rem;
  overflow: hidden;
}

.resizeImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.whyChoosingUs{
  padding: 5rem;
}

.chooseUsSection {
  padding: 5rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  border-bottom: var(--bg-color) 5px solid;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.chooseContainer {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: #0E2E54 3px solid;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
}

.chooseBar {
  height: 0.3rem;
  width: 2rem;
  background-color: #488b36;
}

.chooseHeading {
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  gap: 1rem;
}

.chooseDetail {
  font-size: large;
}

.chooseWrapper {
  display: flex;
  width: 10rem;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.howItWorks {
  padding: 5rem;
  background-color: #0b1b2b;
}

/* media queries */
@media (max-width: 768px) {
  .introductionSection {
    background-color: #dce3ec;
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  .whyChoosingUs{
    padding: 1rem;
  }
  .imageProp {
    height: 20rem;
    max-width: 25rem;
    border-radius: 1rem;
    padding: 1rem;
  }
  .howItWorks{
    padding: 1rem;
  }
  .infoSection {
    max-width: 20rem;
    gap: 1rem;
  }
  .introDetail {
    width: inherit;
  }
  .introHeader {
    font-size: 1.5rem;
    font-style: italic;
  }
  .subIntro {
    font-size: 1rem;
  }
  .paraTag {
    color: gray;
    font-size: small;
  }
  .servicesSection{
    padding: 1rem;
  }
  .serviceSection {
    padding: 1rem;
  }
  .chooseUsSection{
    padding: 1rem;
  }
  .InfoGraphicContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
  }
  .imgBackground {
    align-self: center;
    height: 20rem;
    width: 20rem;
    border-radius: 1rem;
    border: solid 2px lightblue;
    object-fit: cover;
  }
  .detailsContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .detailBox {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 1rem;
    background-color: white;
    padding: 1rem;
  }
  .statsSection {
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }
  .processSection {
    gap: 2rem;
    padding: 1rem;
  }
  .processHeader {
    text-align: center;
    font-size: 2rem;
  }
  .processDetailWrapper {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
  .processWrapper {
    min-width: 20rem;
  }
  .mottoContainer {
    flex-direction: column;
    padding: 1rem;
  }
  .headerText {
    font-size: xx-large;
  }
  .chooseContainer {
    flex-direction: column;
    gap: 2rem;
  }
  .chooseBar {
    display: none;
  }
}

@media (max-width: 415px) {
  .imgBackground {
    align-self: center;
    height: 15rem;
    width: 22rem;
    border-radius: 1rem;
    border: solid 2px lightblue;
  }
}
