* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.imagePlaceholder {
  height: 3rem;
}

.navBarLists {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}

.iconPlaceholder {
  display: none;
}

.navbarContainer {
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* .navbarContainer {
  position: relative;
}

.navBarWidthOnMedia {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: white;
  z-index: 1001;
} */

.inactive {
  text-decoration: none;
  color: black;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.inactive:hover {
  background-color: #eaf1f8;
}

.active {
  background-color: var(--sub-bg-color);
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 0.5rem;
  color: white;
  text-decoration: none;
}

.firstSubContainer {
  display: flex;
  padding-inline: 5rem;
  padding-block: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.bookNow {
  background-color: var(--bg-color);
  padding-inline: 1rem;
  border-radius: 0.8rem;
  color: white;
  cursor: pointer;
  justify-content: center;
  display: flex;
  align-items: center;
}

.menuOption {
  display: none;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  padding: 0.5rem;
  gap: 1rem;
  font-size: small;
}

.labelDetails {
  display: flex;
  gap: 0.1rem;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .navBarLists {
    display: none;
  }
  .navbarContainer {
    position: relative;
  }
  .firstSubContainer {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  .menuOption {
    display: block;
  }
  .imagePlaceholder {
    display: none;
  }
  .iconPlaceholder {
    display: block;
    height: 2rem;
    width: 2rem;
  }
  .navBarWidthOnMedia {
    position: absolute;
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: white;
  }
  .bookNow{
    display: none;
  }
}
