.mainContainer {
  width: 100%;
}

.aboutContainer {
  background: linear-gradient(to bottom, #080e15, #19222e, #10161f);
  color: white;
  display: flex;
  flex-direction: column;
  padding: 10rem;
  gap: 2rem;
  text-align: center;
}

.contents {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.bar {
  background-color: var(--bg-color);
  padding: 0.1rem;
  width: 15rem;
  border-radius: 1rem;
}

.aboutHeading {
  font-size: var(--heading-font-size);
  font-weight: bold;
}

.aboutHighlight {
  display: flex;
  flex-wrap: wrap;
  padding: 5rem;
  gap: 5rem;
  background-color: #f9fbfc;
  border-bottom: 5px solid var(--bg-color);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.imageContainer {
  flex: 1;
}

.aboutContent {
  flex: 1;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-between;
  padding-block: 10rem;
}

.imageContainer img {
  width: 100%;
  display: block;
  height: auto;
}

.contentHeading {
  font-size: var(--heading-font-size);
  text-align: center;
  font-weight: bold;
}

.paraTag {
  font-size: 1rem;
  word-wrap: break-word;
}

.teamGoals {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5rem;
  background-color: #f9fbfc;
  gap: 3rem;
}

.goalImage {
  flex: 1;
}

.goalImage img {
  width: 100%;
  display: block;
  height: auto;
}

.goalContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 1.2rem;
}

.recognition{
  padding: 5rem;
}

.community{
  padding: 5rem;
}

.goalHeader {
  font-size: var(--heading-font-size);
  text-align: center;
}

.textColor {
  color: var(--bg-color);
}

.aboutDetails {
  background-color: #fefeff;
  padding: 5rem;
}

.standForDetails {
  background-color: #0b1b2b;
  padding: 5rem;
}

.standHeading {
  text-align: center;
  color: white;
}

.community {
  background-color: #0b1b2b;
}

@media (max-width: 768px) {
  .aboutContainer {
    padding: 5rem;
  }
  .paraTag {
    font-size: 1rem;
  }
  .aboutHighlight {
    padding: 2rem;
    display: flex;
    flex-direction: column;
  }
  .aboutContent {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    text-align: center;
  }
  .contentHeading {
    font-size: var(--heading-font-size);
  }
  .teamGoals {
    flex-direction: column;
    padding: 2.5rem;
  }
  .goalContent {
    font-size: 0.8rem;
  }
}
