.footerContainer {
  width: 100%;
  padding: 2rem;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
}

.linkPaths {
  padding: 5rem;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
}

.detailsWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.heading {
  font-size: larger;
  display: block;
  border-bottom: 2px green solid;
  align-self: flex-start;
}

.socialHeading {
  font-size: larger;
  display: block;
  border-bottom: 2px green solid;
}

.socialLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.subHeaderWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.socialItems{
  display: flex;
  gap: 2rem;
}

.iconWrapper {
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

.pathClicker {
  cursor: pointer;
}

.detail:hover {
  color: yellow;
}

@media (max-width: 768px) {
  .linkPaths {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    gap: 2.5rem;
  }

  .detailsWrapper {
    align-items: center;
    width: 100%;
  }

  .subHeaderWrapper {
    align-items: center;
  }

  .heading {
    align-self: center;
    font-size: 1.1rem;
  }

  .iconWrapper {
    justify-content: center;
  }
}
