.footerContainer {
  width: 100%;
  padding: 5rem;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
}

.linkPaths {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
}

.detailsWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.heading {
  font-size: larger;
  display: block;
  border-bottom: 2px green solid;
  align-self: flex-start;
}

.socialHeading {
  font-size: larger;
  display: block;
  border-bottom: 2px green solid;
}

.socialLinks {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.subHeaderWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  word-break: break-word;      /* or overflow-wrap: break-word; */
  overflow-wrap: break-word;
}

.socialItems {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* .iconWrapper {
  display: flex;
  gap: 0.3rem;
  align-items: center;
} */

/* .iconText {
  max-width: 250px;
  min-width: 0;
  white-space: normal;
  overflow-wrap: break-word;
} */

.detailText {
  cursor: pointer;
}

.detailsWrapper {
  width: 250px;
}

.linkDetail {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

.linkDetail svg {
  flex: 0 0 24px;   /* Never shrink */
  width: 24px;
  height: 24px;
}

.linkDetail {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: inherit;
}

.detailText:hover {
  color: #488b36;
}

.linkItems {
  display: flex;
  gap: 0.5rem;
  text-decoration: none;
  color: white;
}

@media (max-width: 768px) {
  .linkPaths {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2.5rem;
  }

  .detailsWrapper {
    align-items: center;
    width: 100%;
  }

  .subHeaderWrapper {
    align-items: center;
  }

  .heading {
    align-self: center;
    font-size: 1.1rem;
  }

  .iconWrapper {
    justify-content: center;
  }
  .footerContainer {
    padding: 1rem;
  }
}
